*.orig
*.rej
/Makefile
*~
/*.o
*.gcda
*.gcno
*.gcov
/libnetdissect.a
/config.h
/config.h.in
/config.log
/config.cache
/config.status
/configure
/.devel
/os-proto.h
/stamp-h
/stamp-h.in
/tcpdump
/tcpdump.1
/tcpdump-*.tar.gz
failure-outputs.txt
/autom4te.cache/
*.VC.db
*.VC.opendb
ALL_BUILD.vcxproj*
ZERO_CHECK.vcxproj*
check.vcxproj*
netdissect.vcxproj*
tcpdump.vcxproj*
uninstall.vcxproj*
CMakeCache.txt
CMakeFiles/
Debug/
Release/
MinSizeRel/
RelWithDebInfo/
cmake_install.cmake
cmake_uninstall.cmake
netdissect.dir/
tcpdump.dir/
tcpdump.sln
.vs/
