Assar Westerlund <assar@sics.se> assar <assar>
Bill Fenner <fenner@gmail.com> fenner <fenner>
David Young <dyoung@pobox.com> dyoung <dyoung>
Denis Ovsienko <denis@ovsienko.info> <infrastation@yandex.ru>
Francois-Xavier Le Bail <devel.fx.lebail@orange.fr> fxlb <devel.fx.lebail@orange.fr>
Francois-Xavier Le Bail <devel.fx.lebail@orange.fr> FXLB <francoisxavier.lebail@orange.com>
Francois-Xavier Le Bail <devel.fx.lebail@orange.fr> fxlb <fx.lebail@yahoo.com>
Francois-Xavier Le Bail <devel.fx.lebail@orange.fr> <fx.lebail@yahoo.com>
Fulvio Risso <risso@polito.it> risso <risso>
Gianluca Varenni <gianluca.varenni@gmail.com> gianluca <gianluca>
Guy Harris <gharris@sonic.net> <gharris@gharris-desktop.(none)>
Guy Harris <gharris@sonic.net> <gharris@steve.local>
Guy Harris <gharris@sonic.net> <guy@alum.mit.edu>
Guy Harris <gharris@sonic.net> Guy (Core OS) Harris <gharris@gharris.apple.com>
Guy Harris <gharris@sonic.net> guy <guy>
Hannes Gredler <hannes@gredler.at> hannes <hannes>
Hannes Gredler <hannes@gredler.at> <hannes@juniper.net>
Hannes Gredler <hannes@gredler.at> <hannes@rtbrick.com>
Herwin Weststrate <herwinw@herwinw.nl> <herwin@quarantainenet.nl>
Herwin Weststrate <herwinw@herwinw.nl> <herwin@snt.utwente.nl>
Jamal Hadi Salim <jhs@mojatatu.com> <hadi@cyberus.ca>
Jamal Hadi Salim <jhs@mojatatu.com> <hadi@mojatatu.com>
Jamal Hadi Salim <jhs@mojatatu.com> jamal <hadi@cyberus.ca>
Jun-ichiro itojun Hagino <itojun@iijlab.net> itojun <itojun>
Ken Hornstein <kenh@cmf.nrl.navy.mil> kenh <kenh>
Michael Richardson <mcr@sandelman.ca> <mcr@credil.org>
Michael Richardson <mcr@sandelman.ca> <mcr@kingsmere.gatineau.credil.org>
Michael Richardson <mcr@sandelman.ca> mcr <mcr>
Michael Richardson <mcr@sandelman.ca> <mcr@sandelman.ottawa.on.ca>
Michael Richardson <mcr@sandelman.ca> <mcr@xdsinc.net>
Torsten Landschoff <t.landschoff@gmx.net> torsten <torsten>
