Bill Fenner <fenner@gmail.com> fenner <fenner>
Denis Ovsienko <denis@ovsienko.info> <infrastation@yandex.ru>
Francois-Xavier Le Bail <devel.fx.lebail@orange.fr> fxlb <devel.fx.lebail@orange.fr>
Francois-Xavier Le Bail <devel.fx.lebail@orange.fr> FXLB <francoisxavier.lebail@orange.com>
Francois-Xavier Le Bail <devel.fx.lebail@orange.fr> fxlb <fx.lebail@yahoo.com>
Francois-Xavier Le Bail <devel.fx.lebail@orange.fr> <fx.lebail@yahoo.com>
Guy Harris <gharris@sonic.net> <gharris@gharris-desktop.(none)>
Guy Harris <gharris@sonic.net> <gharris@steve.local>
Guy Harris <gharris@sonic.net> <guy@alum.mit.edu>
Guy Harris <gharris@sonic.net> Guy (Core OS) Harris <gharris@gharris.apple.com>
Guy Harris <gharris@sonic.net> guy <guy>
Hannes Gredler <hannes@gredler.at> hannes <hannes>
Hannes Gredler <hannes@gredler.at> <hannes@juniper.net>
Hannes Gredler <hannes@gredler.at> <hannes@rtbrick.com>
Herwin Weststrate <herwinw@herwinw.nl> <herwin@quarantainenet.nl>
Herwin Weststrate <herwinw@herwinw.nl> <herwin@snt.utwente.nl>
Michael Richardson <mcr@sandelman.ca> <mcr@credil.org>
Michael Richardson <mcr@sandelman.ca> <mcr@kingsmere.gatineau.credil.org>
Michael Richardson <mcr@sandelman.ca> mcr <mcr>
Michael Richardson <mcr@sandelman.ca> <mcr@sandelman.ottawa.on.ca>
Michael Richardson <mcr@sandelman.ca> <mcr@xdsinc.net>
